body {
    font-family: Arial, sans-serif;
    backgorund-color: #12131a;
    color: white;
}

.landing-page {
    padding: 40px;
}

.hero-section {
    margin-top: 80px;
}

hero-buttons {
    margin-top: 25px;
}